venv/
instance/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.gemini/
.env
.terraform
.terraform.lock.hcl
terraform.tfstate*
.terraform.tfstate*
*.tfvars
.vscode
.claude
codegen_instructions.md
cloudsql/
.venv/
uploads/*
test_*





